<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/headmeta %>
        <title>Sales Deal</title>
    </head>
    <body>
        <header>
            <h1>Welcome to Your Sales Deal</h1>
            <nav>
                <%= message %>
                <ul>
                    <li><a href="/auths/login">Login</a></li>
                    <li><a href="/auths/create">Create Accoint</a></li>
                </ul>
            </nav>
        </header>
        <footer>
            <% include ./partials/footer %>
        </footer>
    </body>
</html>